<template name="dashboard">
    
    {{> header }}
    
    <div class="container">
        
        <div class="row margin-top-20">
            <div class="col-xs-12 col-sm-3">
                <form class="transaction">
                    <div class="row">
                        <div class="col-xs-12 margin-top-10">
                            <select class="form-control type" name="type">
                              <option value="income" selected>Income</option>
                              <option value="expense">Expense</option>
                            </select>
                        </div>
                        <div class="col-xs-12 margin-top-10">
                            <input type="text" class="form-control amount" placeholder="Enter amount"/>
                        </div>
                        <div class="col-xs-12 margin-top-10">
                            <input type="text" class="form-control description" placeholder="Enter description"/>
                        </div>
                        <div class="col-xs-12 margin-top-10">
                            <select multiple class="form-control tags" placeholder="Enter Tags"></select>
                        </div>
                        <div class="col-xs-12 margin-top-10">
                            <div class="input-group datetimepicker">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span></span>
                                <input class="transDate form-control" data-date-format="DD MMM YYYY" type="text"/>
                            </div>
                        </div>
                        
                        <div class="col-xs-12 margin-top-10">
                            <button class="btn btn-primary btn-block btn-save-transaction">Add Transaction</button>
                        </div>
                        
                        <div class="col-xs-12 margin-top-10">
                            <div class="alert alert-danger nodisplay" role="alert"></div>
                        </div>
                        
                        
                        
                    </div>
                </form>
            </div>
            <div class="col-xs-12 col-sm-9">
                
                <div class="row margin-top-10">
                    <div class="col-xs-12 col-sm-4">
                        <div class="well text-center">
                            <h4>Incomes</h4>
                            <h3>{{ incomes }} &euro;</h3>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <div class="well text-center">
                            <h4>Expenses</h4>
                            <h3>{{ expenses }} &euro;</h3>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <div class="well text-center">
                            <h4>Total</h4>
                            <h3>{{minus incomes expenses }} &euro;</h3>
                        </div>
                    </div>
                </div>
                {{#if months }}
                <div class="row">
                    <div class="col-xs-12">
                        <select class="form-control currentMonth">
                            {{#each months}}
                                <option {{isCurrentMonth this}} value="{{ this }}">{{ this }}</option>
                            {{/each}}
                        </select>
                    </div>
                </div>
                {{/if}}
                
                <ul class="transactions">
                {{#each transactions}}
                    {{> transaction}}
                {{/each}}
                </ul>
            </div>
        </div>
    </div>
  
</template>

<template name="transaction">
    <li class="{{ type }}">
        <span class="transDate">{{formatDate transDate }}</span>
        <span class="amount">{{ amount }} &euro;</span>
        <span class="description">{{description}}</span>
        <span class="glyphicon glyphicon-remove delete-transaction" aria-hidden="true"></span>
        <span class="transTags">
            {{#each tags}}
                <span class="tag">{{ this }}</span>
            {{/each}}
        </span>
        
    </li>
  
</template>