<template name="home">
    
    {{> header }}
    
    <div class="parallax-window photo1" data-stellar-background-ratio="0.5">
        <div class="slogan1">
            <h3>Sparrow Finance is the best financial tool for simple bookkeeping</h3>
            <ul>
                <li>Easily add transactions</li>
                <li>Keep track of Incomes/Expenses</li>
                <li>Cool reporting!</li>
                <li>It is free!</li>
            </ul>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="parallax-window photo2" data-stellar-background-ratio="0.5">
        <div class="slogan2">
            <h3>Stop using complicated financial software</h3>
            <ul>
                <li>Sparrow Finance is the simplest financial software</li>
                <li>Cool reporting!</li>
                <li>It is free!</li>
            </ul>
        </div>
    </div>
    <div class="parallax-window photo3" data-stellar-background-ratio="0.5">
        <div class="slogan3">
            <h3>Do your job and let the finances on us!</h3>
            <ul>
                <li>Sparrow Finance is the simplest financial software</li>
                <li>Cool reporting!</li>
                <li>It is free!</li>
            </ul>
        </div>
    </div>
  
</template>